* {
	margin: 0px;
	padding: 0px;
}

/* NAVBAR */
.navbar {
	width: 85%;	
	margin: 0 auto;
    overflow: hidden;
	background-color: #3E606F;
    border-radius: 0px 0px 6px 6px;
}
.navbar ul {
    list-style-type: none;
    float: right;
}
.navbar ul li {
    float: left;
    font-family: 'Noto Serif', serif;
}
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color: #334F5C;
}

/* LOGO */
.navbar .logo_div {
	float: left; 
	color: white;
	padding-top: 5px;
	padding-left: 40px;
}
.navbar .logo_div h1 {
	font-family: 'Tangerine', cursive;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: 2px;
}