/****************
*** DEFAULTS
*****************/
* {
	margin: 0px;
	padding: 0px;
}

/* FORM DEFAULTS */
form input {
	width: 100%;
	display: block;
	border: none;
	padding: 13px 13px;
	font-size: 1em;
	margin-top: 5px;
	border-radius: 3px;
	box-sizing : border-box;
	background: transparent;
	border: 1px solid white;
}
form input:focus {
	outline: none;
}
/* BUTTON DEFAULT */
.btn {
	color: white;
	background: #4E6166;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: block;
	letter-spacing: .1em;
	margin: 10px 0px;
	padding: 13px 20px;
	text-decoration: none;
}

/* NAVBAR */
.navbar {
	width: 80%;	
	margin: 0 auto;
    overflow: hidden;
	background-color: #3E606F;
    border-radius: 0px 0px 6px 6px;
}
.navbar ul {
    list-style-type: none;
    float: right;
}
.navbar ul li {
    float: left;
    font-family: 'Noto Serif', serif;
}
.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
}
.navbar ul li a:hover {
	color: #B9E6F2;
    background-color: #334F5C;
}

/* LOGO */
.navbar .logo_div {
	float: left; 
	color: #B9E6F2;
	padding-top: 5px;
	padding-left: 40px;
}
.navbar .logo_div h1 {
	font-family: 'Tangerine', cursive;
	font-weight: 100;
	font-size: 3em;
	letter-spacing: 5px;
}

/* BANNER: Welcome message; */
.banner {
	width: 80%;
	margin: 5px auto;
	min-height: 400px;
	color: white;
	border-radius: 5px;
	background-image: url('../images/banner.jpg');
	background-size: 100% 100%;
}
.banner .welcome_msg {
	width: 45%;
	float: left;
	padding: 20px;
}
.banner .welcome_msg h1 {
	color: #B9E6F2;
	margin: 25px 0px;
	font-size: 2.4em;
	font-family: 'Averia Serif Libre', cursive;
}
.banner .welcome_msg p {
	color: white;
	font-size: 1.5em;
	line-height: 1.8em;
    font-family: 'Noto Serif', serif;
}
.banner .welcome_msg p span {
	font-size: .81em; 
	color: #3E606F;
}
.banner .welcome_msg a {
	width: 30%;
	margin: 20px 0px;
	padding: 12px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
.banner .welcome_msg a:hover {
	background: #374447;
}


/* BANNER: Login Form; */
.banner .login_div {
	width: 50%;
	float: left;
}
.banner .login_div form {
	margin-top: 40px;
}
.banner .login_div form h2 {
	margin-left: 45%;
	margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
}
.banner .login_div form input {
	width: 60%;
	border-radius: 0px;
	margin: 10px auto;
}
.banner .login_div form button {
	display: block;
	background: #006384;
	margin-left: 20%;
}
